ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 20px 0px;
	margin-bottom: 2px;
	background-color: #4da6ff;
}

.month li{
	width: 60%;
	text-align: center;
}

#prev{
	width: 20%;	
	text-align: left;
	padding-left: 10px;
}
#prev button{
	background-color: transparent;	
	border-color: transparent;
	color: #ffffff;
}
#prev button:focus{
	outline: none;
}
#prev button:hover{
	transform: scale(2);
	transition-duration: 0.3s;
	color: #cccccc;
}
#next{
	width: 20%;	
	text-align: right;
	padding-right: 10px;
}
#next button{
	background-color: transparent;	
	border-color: transparent;
	color: #ffffff;
}
#next button:focus{
	outline: none;
}
#next button:hover{
	transform: scale(2);
	transition-duration: 0.3s;
	color: #cccccc;
}
.container{
	flex-wrap: nowrap;
	background-color: #ffffff;
}

.weekdays{
	color: #ffffff;
	display: flex;
	flex-wrap: nowrap;
	padding: 20px 0px;
	background-color: #4da6ff;
	margin-top: 1px;
}

.weekdays li{
	text-align: center;
	width: 14.28%;	
}
#month{
	color: #ffffff;
	font-size: 35px;
}
#year{
	color: #ffffff;	
	font-size: 25px;
}
#title h1{
	margin: 0px;
	padding: 0px;
}	
#days{
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0px;
	background-color: #4da6ff;
	margin-top: 1px;
	margin-bottom: 0px;
}
#days li{
	text-align: center;
	width: 14.28%;	
}
#days li button{
	color: #ffffff;
	background-color: transparent;	
	border-color: transparent;
}
#days li button:focus{
	outline: none;
}	
#days li button:hover{
	color: #ccffcc;
	transform: scale(2.5);	
	transition-duration: 0.3s;
}
#timeSlots{
	color: #000000;	
	padding: 0px;
	margin: 0px;
	height: 400px;
}
#days li #today{
	color: #ffd699;	
}

#days li #today:hover{
	color: #ffc266;
	transform: scale(2.5);	
	transition-duration: 0.3s;	
}